body {
  background-color: powderblue;
}
h1 {
	text-align: center;
  color: blue;
}
.bot {
	text-align: center;
  color: red;
  font-size: 120%;
  padding-bottom: 30px;
}
.cap{
	text-align: center;
	color: olive;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 150%;
	padding-bottom: 20px;
}
